<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Sign up</h1>
  </div>

  <div class="w3-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, class: 'w3-input w3-border' %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'w3-input w3-border' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'w3-input w3-border' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'w3-input w3-border' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => 'w3-btn w3-red w3-margin-top' %>
    </div>
    <% end %>

  </div>
</div>
