<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Resend unlock instructions</h1>
  </div>

  <div class="w3-container">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", :class => 'w3-btn w3-red w3-margin-top' %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
