<% if user_signed_in? %>

<%= form_for(adventure) do |f| %>
  <% if adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'w3-input w3-border', placeholder: "ex: Good Coffee Labo" %>
  </div>

  <div class="field">
    <%= f.label :location, "City" %>
    <%= f.text_field :location, class: 'w3-input w3-border', placeholder: "ex: Sasebo, Japan" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'w3-input w3-border' %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.collection_select(:category_id, @categories, :id, :name, :include_blank => "Please select") %>
  </div>

  <div class="field">
    <%= f.label :picture, "Photo of the outside in landscape-mode." %><br />
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :visit, "When did you last visit this location?" %><br />
    <%= f.date_select :visit %>
  </div>

<h3>Help others get here.</h3>
<h6>Enter in the full address. The app will find the map coordinates.</h6>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'w3-input w3-border', placeholder: "ex: 1-33, Motomachi, Sasebo, Nagasaki, Japan 857-0059" %>
  </div>

  <div class="actions">
    <%= f.submit 'Share Your Adventure', :class => 'w3-btn w3-red w3-margin-top' %>
  </div>
<% end %>

<% else %>
<p>You must <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Login", new_user_session_path %> to contribute.</p>
<% end %>
