<%= render "layouts/header" %>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">

  <!-- Search by City -->
  <div class="w3-container w3-margin-top">
    <h3>Where do you want to go today?</h3>
    <h6>Check out these cities for some inspiration.</h6>
  </div>
  <div class="w3-row-padding w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <a href="/adventures/search?utf8=%E2%9C%93&search=Sasebo"><img src="https://s3.amazonaws.com/adv-assets/site-images/stock-pic7.jpg" alt="Sasebo" style="width:100%"></a>
        <span class="w3-display-bottomleft w3-padding">Sasebo 佐世保</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <a href="/adventures/search?utf8=%E2%9C%93&search=Fukuoka"><img src="https://s3.amazonaws.com/adv-assets/site-images/stock-pic14.jpg" alt="Fukuoka" style="width:100%"></a>
            <span class="w3-display-bottomleft w3-padding">Fukuoka 福岡市</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <a href="/adventures/search?utf8=%E2%9C%93&search=Nagasaki"><img src="https://s3.amazonaws.com/adv-assets/site-images/stock-pic12.jpg" alt="Nagasaki" style="width:100%"></a>
            <span class="w3-display-bottomleft w3-padding">Nagasaki 長崎市</span>
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <a href="/adventures/search?utf8=%E2%9C%93&search=Osaka"><img src="https://s3.amazonaws.com/adv-assets/site-images/stock-pic13.jpg" alt="Osaka" style="width:100%"></a>
            <span class="w3-display-bottomleft w3-padding">Osaka 大阪市</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <a href="/adventures/search?utf8=%E2%9C%93&search=Tokyo"><img src="https://s3.amazonaws.com/adv-assets/site-images/stock-pic1.jpg" alt="Tokyo" style="width:100%"></a>
            <span class="w3-display-bottomleft w3-padding">Tokyo 東京市</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Explore Adventures -->
    <div class="w3-container">
      <h3>Today's Faves</h3>
      <p>We have lots of faves but today we are smitten with these. How about you?</p>
    </div>

    <% if @adventures.blank? %>
      <div class="w3-row-padding">
        <h4>There are no adventures containing the term <%= params[:search] %>.</h4>
      </div>
    <% end %>

    <% @adventures.limit(4).in_groups_of(2) do |group| %>
    <div class="w3-row-padding">
      <% group.compact.each do |adventure| %>
      <div class="w3-half w3-margin-bottom">
        <%= image_tag adventure.picture_url(:thumb), width: '100%' if adventure.picture.present?%>
        <div class="w3-container w3-white">
          <h3><%= adventure.name %></h3>
          <p class="w3-opacity"><i class="fa fa-map-marker w3-margin-right"></i><%= adventure.location %></p>
          <p><%= adventure.description.truncate(236, separator: ' ') %></p>
          <button class="w3-btn w3-margin-bottom"><%= link_to 'More Info', adventure %></button>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

<!-- Newsletter -->
  <div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card-2 w3-hover-opacity-off">
      <h2>Get the scoop delivered to your inbox.</h2>
      <p>Join our newsletter.</p>
      <label>E-mail</label>
      <input class="w3-input w3-border" type="text" placeholder="Coming Soon!">
      <button type="button" class="w3-btn w3-red w3-margin-top">Subscribe</button>
    </div>
  </div>
