<div class="w3-content" style="max-width:1100px;">

  <div class="w3-container w3-margin-top">
    <h1>Sasebo, Japan</h1>
    <% if @adventures.blank? %>
        <h3>There are no adventures for <%= params[:search] %>.</h3>
        <p>I know. It blows my mind, too. How is it possible no one has posted about <%= params[:search] %> yet?! Looks like we know what we have to do this weekend!</p>
        <% else %>
        <h6>Sasebo (佐世保) is a core city located in Nagasaki Prefecture, Japan. It is home to the United States Navy at Fleet Activities Sasebo.</h6>
        <p>Sasebo is a small town by Western standards with a rich shipbuilding history. The deep-water harbor makes it an ideal location for the United States Navy and you can see their influence in the surrounding community. Most notably, the Sasebo Burger. It's fried egg and (overly) generous helping of mayonaise can be intimidating but no tour in Sasebo can be complete without one.</p>
        <p>Despite its small size, finding places to eat, shop, and explore in Sasebo can be challenging. Many places are hidden away in nooks that you might never discover without word-of-mouth recommendation or a shared GPS pin. Overcoming that challenge was the motivation behind launching Hello, Sasebo! Happy exploring and thank you for sharing!</p>
    <% end %>
    </div>



    <% @adventures.in_groups_of(2) do |group| %>
    <div class="w3-row-padding">
      <% group.compact.each do |adventure| %>
      <div class="w3-half w3-margin-bottom">
        <%= image_tag adventure.picture_url(:thumb), width: '100%' if adventure.picture.present?%>
        <div class="w3-container w3-white">
          <h3><%= adventure.name %></h3>
          <p class="w3-opacity"><%= adventure.location %></p>
          <p><%= adventure.description.truncate(236, separator: ' ') %></p>
          <button class="w3-btn w3-margin-bottom"><%= link_to 'More Info', adventure %></button>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

<!-- Newsletter -->
  <div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card-2 w3-hover-opacity-off">
      <h2>Get the scoop delivered to your inbox.</h2>
      <p>Join our newsletter.</p>
      <label>E-mail</label>
      <input class="w3-input w3-border" type="text" placeholder="Your Email address">
      <button type="button" class="w3-btn w3-red w3-margin-top">Subscribe</button>
    </div>
  </div>
