<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
  </div>

    <div class="w3-row-padding">
      <div class="w3-twothird">
        <%= image_tag(@adventure.picture_url(:thumb), width: '100%') if @adventure.picture.present? %>
      </div>
      <div class="w3-third">
        <h2><%= @adventure.name %></h2>
        <p><i class="fa fa-map-marker w3-margin-right"></i><%= @adventure.location %></p>
        <p><%= @adventure.description %></p>

        <% if user_signed_in? && current_user == @adventure.user %>
        <p>
          <%= link_to 'Update', edit_adventure_path(@adventure), :class => 'w3-btn w3-red w3-margin-top'  %>
          <%= link_to 'Delete', @adventure, data: { confirm: 'Are you sure?' }, method: :delete, :class => 'w3-btn w3-red w3-margin-top'  %>
        </p>
        <% end %>
      </div>
    </div>

  <div class="w3-container w3-margin-top w3-hide-small">
    <h2>Details & Directions</h2>
  </div>


  <div class="w3-row-padding">
    <div class="w3-third w3-content w3-hide-small">
      <p><i class="fa fa-map-marker w3-margin-right"></i>Located in <%= @adventure.location %></br>
        <i class="fa fa-user w3-margin-right"></i>Added by <%= @adventure.user.username %></br>
      <i class="fa fa-clock-o w3-margin-right"></i>Explored on <%= @adventure.visit.to_formatted_s(:rfc822)   %></br>
      <i class="fa fa-tag w3-margin-right"></i>Filed under "<%= @adventure.category.name %>"</p>

    </div>

    <div class="w3-twothird">
      <div class="w3-container w3-white">
        <p><b>Street Address</b><br />
        <%= @adventure.address %></p>
        <p><b>Latitude and Longitude</b><br />
        <%= @adventure.latitude %>, <%= @adventure.longitude %></p>
        <p>
          <a href="http://maps.apple.com/?daddr=<%= @adventure.latitude %>,<%= @adventure.longitude %>&dirflg=d&t=m" class="w3-btn w3-red w3-margin-top">Apple Maps</a>
          <a href="https://www.google.com/maps/dir/?api=1&destination=<%= @adventure.latitude %>,<%= @adventure.longitude %>&dir_action=navigate" class="w3-btn w3-red w3-margin-top">Google Maps</a>
        </p>
      </div>
    </div>
  </div>


  <div class="w3-container">
    <%= link_to "Back", :back, :class => 'w3-btn w3-red w3-margin-top' %>
  </div>

</div>
