<p id="notice"><%= notice %></p>

    <div class="row">

      <div class="col-md-9">
        <%= image_tag(@adventure.picture_url, width: '100%') if @adventure.picture.present? %>
      </div>

      <div class="col-md-3">

        <h3><%= @adventure.name %></h3>
        <p><%= @adventure.description %></p>
        <p><b>Address: </b><%= @adventure.address %></p>
        <p><b>Latitude: </b><%= @adventure.latitude %></p>
        <p><b>Longitude: </b><%= @adventure.longitude %></p>

        <p>
          <%= link_to 'Edit', edit_adventure_path(@adventure) %> |
          <%= link_to 'Destroy', @adventure, data: { confirm: 'Are you sure?' }, method: :delete %> |
          <%= link_to 'Back', adventures_path %>
        </p>

      </div>
    </div>

      <div class="row">

      <div class="col-md-5">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@adventure.latitude}%2C#{@adventure.longitude}" %>
      </div>

      <div class="col-md-4">
        <h3>Comments</h3>
        <% @comments.each do |comment| %>
          <div>
           <p><%= comment.body %></p>
           <p><em>&mdash;<%= comment.user_name %></em></p>
           <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        <% end %>
      </div>
      <div class="col-md-3">
        <h3>Have You Been Here?</h3>
        <%= render 'comments/form' %>
      </div>
    </div>
