<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adventure.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@adventure.picture_url, :width => 600) if @adventure.picture.present? %>
</p>

<p>
  <strong>Location:</strong>
  <%= @adventure.location %>
</p>

<p>
  <strong>Visit:</strong>
  <%= @adventure.visit %>
</p>

<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
