<!DOCTYPE html>
<html>
  <head>
    <title>Japan Adventures App</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="app/assets/stylesheets/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <style>
     body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
     .myLink {display: none}
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-light-grey">

  <%= render "layouts/navbar" %>

  <%= yield %>

    <!-- Footer -->
    <footer class="w3-container w3-center w3-opacity w3-margin-bottom">
      <h5>A Sasebo Code Club Project</h5>
      <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-heart-o w3-hover-text-red"></i>
        <a href="https://gist.github.com/angeladowns/e2d44406c24c9d71e63a010aac95a522" target="_blank"><i class="fa fa-github-alt w3-hover-text-indigo"></i></a>
        <a href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram w3-hover-text-purple"></i></a>
        <a href="https://www.facebook.com/groups/free.code.camp.sasebo/" target="_blank"><i class="fa fa-facebook-square w3-hover-text-blue"></i></a>
      </div>
    </footer>

    <script>
// Tabs
function openLink(evt, linkName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(linkName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();
</script>


  </body>
</html>
