<!DOCTYPE html>
<html>
  <head>
    <title>Japan Adventures</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render "layouts/navbar" %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        Rails Girls Sasebo 2017
      </div>
    </footer>
    <script src="//railsgirls.com/assets/bootstrap.js">

  </body>
</html>
