<!DOCTYPE html>
<html>
  <head>
    <title>Hello, Sasebo!</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="app/assets/stylesheets/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
      .myLink {display: none}
    </style>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102640058-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <%= render 'application/favicon' %>

  <body class="w3-light-grey">

  <%= render "layouts/navbar" %>

  <%= yield %>

  <!-- Footer -->
  <footer class="w3-container w3-center w3-opacity w3-margin-bottom">
    <h5>A "Hello, Diplomat!" Project</h5>
    <div class="w3-xlarge w3-padding-16">
      <a href="/adventures" target="_top"><i class="fa fa-heart w3-hover-text-red"></i></a>
      <a href="/pages/info" target="_self"><i class="fa fa-user-circle-o w3-hover-text-blue" aria-hidden="true"></i></a>
      <a href="/contact/new" target="_self"><i class="fa fa-user-envelope w3-hover-text-orange" aria-hidden="true"></i></a>
      <a href="http://www.hellodiplomat.com" target="_blank"><i class="fa fa-briefcase w3-hover-text-green" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/hellosasebo/" target="_blank"><i class="fa fa-instagram w3-hover-text-purple"></i></a>
    </div>
    <p class="small">&copy; 2017 - 2018 <i>Hello, Diplomat!</i></p>
  </footer>

  <script>
// Tabs
function openLink(evt, linkName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(linkName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();
  </script>


  <script>
// Search
$(document).ready(function(){
          var submitIcon = $('.searchbox-icon');
          var inputBox = $('.searchbox-input');
          var searchBox = $('.searchbox');
          var isOpen = false;
          submitIcon.click(function(){
              if(isOpen == false){
                  searchBox.addClass('searchbox-open');
                  inputBox.focus();
                  isOpen = true;
              } else {
                  searchBox.removeClass('searchbox-open');
                  inputBox.focusout();
                  isOpen = false;
              }
          });
           submitIcon.mouseup(function(){
                  return false;
              });
          searchBox.mouseup(function(){
                  return false;
              });
          $(document).mouseup(function(){
                  if(isOpen == true){
                      $('.searchbox-icon').css('display','block');
                      submitIcon.click();
                  }
              });
      });
          function buttonUp(){
              var inputVal = $('.searchbox-input').val();
              inputVal = $.trim(inputVal).length;
              if( inputVal !== 0){
                  $('.searchbox-icon').css('display','none');
              } else {
                  $('.searchbox-input').val('');
                  $('.searchbox-icon').css('display','block');
              }
          }
  </script>
  </body>
</html>
